CT_ANALYSIS_OUTPUT_GCS_PREFIX=gs://soomit-bucket/ct-analysis
VISTA3D_MODEL_GCS_URI=gs://soomit-bucket/models/ct-analysis/vista3d_lidc_best.pt
MORPHOLOGY_MODEL_GCS_URI=gs://soomit-bucket/models/ct-analysis/morphology_med3d_final.pt
TEXTURE_MODEL_GCS_URI=gs://soomit-bucket/models/ct-analysis/texture_med3d_final.pt
MALIGNANCY_MODEL_GCS_URI=gs://soomit-bucket/models/ct-analysis/med3d_resnet18_best.pth
ORTHANC_BASE_URL=
ORTHANC_USERNAME=
ORTHANC_PASSWORD=
ORTHANC_TIMEOUT_SECONDS=300
