# docker-compose 와 Django settings.py가 공통으로 읽는 값
POSTGRES_DB=sumit
POSTGRES_USER=sumit
POSTGRES_PASSWORD=sumit1234!
POSTGRES_HOST=34.21.191.61
POSTGRES_PORT=5432

DJANGO_SECRET_KEY=dev-only-change-me
DJANGO_DEBUG=1
DJANGO_ALLOWED_HOSTS=*
