POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DJANGO_SECRET_KEY=
NEXT_PUBLIC_API_BASE_URL=
CELERY_BROKER_URL=
CELERY_RESULT_BACKEND=
ORTHANC_USERNAME=
ORTHANC_PASSWORD=
ORTHANC_BASE_URL=
ORTHANC_PUBLIC_URL=
ORTHANC_HTTP_BIND_ADDRESS=
ORTHANC_DICOM_BIND_ADDRESS=
ORTHANC_TIMEOUT_SECONDS=
AI_SERVICE_TOKEN=
