# --- DB (VM 내부 IP, 이미 확정) ---
POSTGRES_HOST=34.21.191.61
POSTGRES_PORT=5432
POSTGRES_DB=sumit
POSTGRES_USER=sumit
POSTGRES_PASSWORD=sumit1234!

# --- Django ---
DJANGO_SECRET_KEY=CeoW4yPmsIvvghR2TTwoK3YYQpvJm7UBI-8GhxmoB_mlHMQGUJuC40b5GiVdOIFnHKQ

# --- Next ---
NEXT_PUBLIC_API_URL=http://34.21.191.61:8000

# --- Celery / Redis (내부 통신용, 고정값 그대로 사용) ---
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/1

# --- Orthanc ---
ORTHANC_USERNAME=admin
ORTHANC_PASSWORD=admin1234!
ORTHANC_BASE_URL=http://orthanc:8042
ORTHANC_PUBLIC_URL=http://34.21.191.61:8042
ORTHANC_HTTP_BIND_ADDRESS=0.0.0.0
ORTHANC_DICOM_BIND_ADDRESS=0.0.0.0
ORTHANC_TIMEOUT_SECONDS=30