.git/
.gitignore
.gcloudignore
.env
.env.local
.env.development
.env.production
**/__pycache__/
**/*.py[cod]
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
models/
test-output/
*.pt
*.pth
*.ckpt
*.cbm
