PDL1_CHECKPOINT_PATH=C:/models/pdl1/final_model.pth
PDL1_MODEL_GCS_URI=gs://soomit-bucket/models/pdl1/final_model/final_model.pth
PDL1_MODEL_SHA256=db0e812ab9b38c77b9bbf3725f9d92482b774e2a18cb5361147c793913b7a376
PDL1_MODEL_REVISION=final_model
PDL1_MIL_BASELINE_PATH=C:/models/pdl1/mil_baseline
# PDL1_DEVICE=cuda:0
PDL1_MAX_UPLOAD_BYTES=67108864
PDL1_MAX_PATCHES=5000
